<%- include('partials/header'); %>
<% if (locals.errors && locals.errors.login){ %>
	<% locals.errors.login.forEach(function(error) { %>
		<p class="alert alert-primary" role="alert"><%= error %></p>
	<% }) %>
<% } %>
<% if (locals.errors && locals.errors.register){ %>
	<% locals.errors.register.forEach(function(error) { %>
		<p class="alert alert-primary" role="alert"><%= error %></p>
	<% }) %>
<% } %> 
<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-md-3">
        <div class="container" style="padding-top: 25px;">
          <div class="row">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h4>
                  Channels
                </h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">A Mad Tea-Party</li>
                <li class="list-group-item">The Rabbit Sends in a Little Bill</li>
                <li class="list-group-item">The Country of the Quadlings</li>
                <li class="list-group-item">The Pool of Tears</li>
              </ul>
            </div>
          </div>
          <div class="row" style="padding-top: 20px;">
            <div class="card">
              <div class="card-header">
                <h4>
                  Users
                </h4>
              </div>
              <ul class="list-unstyled">
                <li class="media">
                  <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png"" class="mr-3" alt="..." style="width: 15%;">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">User 1</h5>
                  </div>
                </li>
                <li class="media my-4">
                  <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png"" class="mr-3" alt="..." style="width: 15%;">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">User 2</h5>
                  </div>
                </li>
                <li class="media">
                  <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png"" class="mr-3" alt="..." style="width: 15%;">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">User 3</h5>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
      <main role="main" class="col-md-9">
        <div class="container" style="padding-top: 25px;">
          <div class="row">
            <ul class="list-group list-group-horizontal-md">
              <li class="list-group-item">A Mad Tea-Party</li>
              <li class="list-group-item">Main Talking Channel</li>
            </ul>
          </div>
          <div class="row">
            <div class="media" style="padding-top: 20px;">
              <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png" class="mr-3" alt="robot" style="width: 5%;">
              <div class="media-body">
                <h5 class="mt-0">Message 1</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div class="media" style="padding-top: 20px;">
                  <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png" class="mr-3" alt="robot" style="width: 5%;">
                  <div class="media-body">
                    <h5 class="mt-0">Message 2</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </div>
              </div>
            </div>
            <div class="media" style="padding-top: 20px;">
              <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png" class="mr-3" alt="robot" style="width: 5%;">
              <div class="media-body">
                <h5 class="mt-0">Message 3</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
            <div class="media" style="padding-top: 20px;">
              <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png" class="mr-3" alt="robot" style="width: 5%;">
              <div class="media-body">
                <h5 class="mt-0">Message 4</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
            <div class="media" style="padding-top: 20px;">
              <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png" class="mr-3" alt="robot" style="width: 5%;">
              <div class="media-body">
                <h5 class="mt-0">Message 5</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div class="media" style="padding-top: 20px;">
                  <img src="https://i0.wp.com/static.vectorcharacters.net/uploads/2016/12/Vector_Robot_6.png" class="mr-3" alt="robot" style="width: 5%;">
                  <div class="media-body">
                    <h5 class="mt-0">Message 6</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="padding-top: 30px;">
              <div class="col-md-9">
                <form>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Send Message</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleFormControlFile1">Upload some files</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </main>
    </div> <!-- end .row --> 
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/footer'); %>